<mat-drawer-container *ngIf="(selectedAgent$ | async) as selectedAgent" autosize>
  <mat-drawer #drawer mode="side" opened>
    <mat-form-field appearance="fill">
      <mat-select [value]="selectedAgent.id" (selectionChange)="selectAgent($event.value)">
        <mat-option *ngFor="let agent of (agents$ | async)" [value]="agent.id">{{ agent.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="create()">Create</button>
    </div>
    <div>
      <mat-nav-list>
        <a *ngFor="let project of (projects$ | async)" [routerLink]="['/project']" [queryParams]="{projectId: project.id | encodeURIComponent, agentId: selectedAgent.id | encodeURIComponent}" mat-list-item href="...">{{ project.label }}</a>
      </mat-nav-list>
    </div>

  </mat-drawer>

  <div style="height: 100vh;">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
