<div *ngIf="(project$ | async) as project">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ project.label }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <!-- TODO: show conditionally based on access mode -->
      <button mat-button [routerLink]="['/project-edit']" [queryParams]="{projectId: project.id | encodeURIComponent, agentId: project.owner | encodeURIComponent}">EDIT</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="(tasks$ | async) as tasks">
    <mat-card-header>
      <mat-card-title>Tasks</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <div>
      <button mat-raised-button color="primary" (click)="create()">Create</button>
    </div>
      <mat-list role="list">
          <mat-list-item *ngFor="let task of tasks" role="listitem"><a [routerLink]="['/task-edit']" [queryParams]="{taskId: task.id, projectId: project.id | encodeURIComponent, agentId: project.owner | encodeURIComponent}">{{ task.label }}</a></mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
