<div *ngIf="(project$ | async) as project">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ project.label }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions *ngIf="project.canUpdate">
      <button mat-icon-button [routerLink]="['/project-edit']" [queryParams]="{projectId: project.id | encodeURIComponent, agentId: project.owner | encodeURIComponent}">
        <mat-icon>edit_square</mat-icon>
      </button>
      <button *ngIf="(tasks$ | async)?.length === 0" mat-icon-button color="warn" (click)="delete()">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button mat-icon-button (click)="share()">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="(tasks$ | async) as tasks">
    <mat-card-header>
      <mat-card-title>
        <span>Tasks</span>
        <button *ngIf="project.canAddTasks" mat-icon-button (click)="create()">
          <mat-icon>add_box</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
          <mat-list-item *ngFor="let task of tasks" role="listitem">
            <span>{{ task.label }}</span>
            <button mat-icon-button *ngIf="task.canUpdate" [routerLink]="['/task-edit']" [queryParams]="{taskId: task.id, projectId: project.id | encodeURIComponent, agentId: project.owner | encodeURIComponent}">
              <mat-icon>edit_square</mat-icon>
            </button>
          </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
